<h2> Game actions </h2>

<a class='btn btn-default pull-left' href='/loot'>Kill enemy and loot</a>
<br>
<a class='btn btn-default pull-left' href='/sell'>Sell items </a>
<br>
<a class='btn btn-default pull-left' href='/buy'>Buy items </a>
<br>
<a class='btn btn-default pull-left' href='/trash'>Throw away item</a>
<br>
<a class='btn btn-default pull-left' href='/findtreasure'>Find random treasure</a>
<br>
<a class='btn btn-default pull-left' href='/info'>My information</a>
<br>
<a class='btn btn-default pull-left' href='/inventory'>My inventory</a>