<h3>{{alias}}'s inventory </h3>
<ul class='list-group'>
	<li class='list-group-item'><strong> Weapons: </strong>{{weapons}} </li>
	<li class='list-group-item'><strong> Clothes: </strong>{{clothes}} </li>
	<li class='list-group-item'><strong> Ingredients: </strong>{{ingr}} </li>
</ul>